<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="A micro-roaster in Newburgh, NY focusing on Caribbean coffee">
    <title>Tas Kaf&eacute;</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <div class="container">
      <%= partial "partials/site_header" %>
      <main role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
