@import "neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(300);

// Neat Breakpoints
$small-screen: em(600);
$medium-screen: em(1000);
$large-screen: em(1600);

$small-screen-up: new-breakpoint(min-width $small-screen 2);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
