html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include padding(8vh null 16vh);
  border-image: linear-gradient(to right,
                                $red 0,
                                $red 15%,
                                $gold 15%,
                                $gold 29%,
                                $blue 29%,
                                $blue 43%,
                                $light-blue 43%,
                                $light-blue 57%,
                                $orange 57%,
                                $orange 71%,
                                $yellow 71%,
                                $yellow 85%,
                                $green 85%,
                                $green 100%);
  border-image-slice: 1;
  border-style: solid;
  border-width: 1.5vh 0 1.5vh;
  min-height: 100%;
}
