body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;

  @include media-from(37em) {
    font-size: $base-font-size * 1.0625;
  }

  @include media-from(70em) {
    font-size: $base-font-size * 1.1875;
  }

  @include media-from(100em) {
    font-size: $base-font-size * 1.375;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: ($base-spacing * 1.5) 0 ($base-spacing / 1.5);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: modular-scale(3);
}

h2 {
  font-size: modular-scale(2);
}

h3 {
  font-size: modular-scale(1);
}

h4,
h5,
h6 {
  font-size: modular-scale(0);
}

p {
  margin: 0 0 $base-spacing;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:hover {
    color: $hover-link-color;
  }

  &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
