$modular-scale-base: 1em;
$modular-scale-ratio: $perfect-fourth;

// Typography
$sans-serif: "Source Sans Pro", $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #0075b2;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
