body {
  padding-bottom: $base-spacing * 6;
}

.container {
  @include outer-container;
  padding-left: $base-spacing / 2;
  padding-right: $base-spacing / 2;
  position: relative;
}

.site-header {
  margin-top: $base-spacing * 3;
}
