markdown:
  Tas Kafé—which means cup of coffee in Haitian Creole—embodies the belief of
  quality through simplicity. Coffee can be complicated, but enjoying a cup should
  be simple.

  We roast in Beacon, NY and you can find our coffee at [Adams],
  [Ella’s Bellas (Beacon)], [Martha (Newburgh)] and the
  [Beacon Farmers’ Market].

  [Send us an email](mailto:hello@taskafe.com) for wholesale inquiries or just to
  talk coffee.

  Stay Warm & Stay Strong,<br>
  **Greg Flaherty**, Owner

  [Adams]: http://adamsfarms.com
  [Ella’s Bellas (Beacon)]: http://www.ellasbellasbeacon.com
  [Martha (Newburgh)]: https://www.facebook.com/pages/Martha/622886257747085
  [Beacon Farmers’ Market]: https://www.facebook.com/Beacon-Farmers-Market-232116360132380
